:root{

--white: hsl(0, 0%, 100%);
--lightGray: hsl(212, 45%, 89%);
--grayishBlue: hsl(220, 15%, 55%);
--darkBlue: hsl(218, 44%, 22%);
--normalWeight: 400;
--boldWeight: 700;
--base-font-size: 15px;
--base-font-family: 'Outfit', serif;

}

@font-face {
    font-family: "Outfit";
    src: url("./fonts/Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--lightGray);
}

.qrCode {
    width: 100%;
    border-radius: 10px;
}

.qrCodeComponent {
    width: 290px;
    padding: 16px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
    text-align: center;
    background: var(--white);
    border-radius: 20px;
}
.text-adjust {
    text-align: center;
}

.qrCodeComponent .caption {
    font-size: 22px;
    font-weight: var(--boldWeight);
    color: var(--darkBlue);
}
.qrCodeComponent .aid {
    color: var(--grayishBlue);
    margin: 16px;
}